@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif !important;
}

a {
    text-decoration: none;
}